
Cakee/Cakee/Debug/Choices.obj
Cakee/.vs/Cakee/v15/Browse.VC.db
Cakee/.vs/Cakee/v15/ipch/AutoPCH/_SFI_3543EB44-C358-4F3E-9259-574A2F55EBCE_-32f72428/CAKEE-8273c7e2/CAKEE.ipch
Cakee/.vs/Cakee/v15/ipch/AutoPCH/_SFI_3543EB44-C358-4F3E-9259-574A2F55EBCE_-32f72428/CAKEKNIFE-bdb5104a/CAKEKNIFE.ipch
Cakee/.vs/Cakee/v15/ipch/AutoPCH/_SFI_3543EB44-C358-4F3E-9259-574A2F55EBCE_-32f72428/CAKEEMGR-c16022e8/CAKEEMGR.ipch
Cakee/.vs/Cakee/v15/Browse.VC.opendb
Cakee/.vs/Cakee/v15/ipch/AutoPCH/CAKEE-95e92d1/STORY-8aee9d10/STORY.ipch
Cakee/.vs/Cakee/v15/ipch/AutoPCH/CAKEE-95e92d1/MOUSE-832cc91d/MOUSE.ipch
Cakee/.vs/Cakee/v15/ipch/AutoPCH/CAKEE-95e92d1/MOUSE-18379b8/MOUSE.ipch
Cakee/.vs/Cakee/v15/ipch/AutoPCH/CAKEE-95e92d1/LAYERMANAGER-32b0d067/LAYERMANAGER.ipch
*.ipch
*.tlog
*.obj
*.pdb
*.enc
